header
  // background: #C351BA
  // url("../img/fondo.jpg")
  color: #fff
  // width: 90%
  // max-width: 900px
  height: 250px
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  justify-content: center
  align-items: flex-end
  text-align: center
  .foto
    order: 2
    margin: 20px
    padding: 20px
  // background: red

  .contenedor-texto
    order: 1
    margin: 20px
    padding: 20px
    // background: orange
