.main
  background: #D176CA
  width: 35%
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  text-align: center
  height: 300px
  border: 1px outset #C351BA
  border-radius: 10px
  margin: auto
  
