.main
  background: #D176CA
  overflow: hidden
  width: 35%
  height: 300px
  max-height: 300px
  border: 1px outset #C351BA
  border-radius: 10px
  margin: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  .Datos
    font-size: 20px
    // display: flex
    // flex-direction: row
    // flex-wrap: wrap
    // justify-content: space-between
    // margin-bottom: 10px 0
    width: 40%
    // margin: auto
